<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.caseywaldren.downfordinner">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.caseywaldren.downfordinner.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.caseywaldren.downfordinner.permission.C2D_MESSAGE" />

    <application

        android:name=".DownForDinnerApplication"
        android:allowBackup="true"
        android:icon="@mipmap/dinner_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.parse.PushService" />

        <receiver
            android:name="com.caseywaldren.downfordinner.DinnerPushBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />


            </intent-filter>
        </receiver>
        <receiver
            android:name="com.caseywaldren.downfordinner.DinnerRequestBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.caseywaldren.intent.YES_DINNER" />
                <action android:name="com.caseywaldren.intent.NO_DINNER" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <!-- IMPORTANT: Change "com.parse.starter" to match your app's package name. -->
                <category android:name="com.caseywaldren.downfordinner" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.parse.push.notification_icon"
            android:resource="@mipmap/ic_launcher" />

        <activity
            android:name=".InitialResponseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".IdleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WaitActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">


        </activity>
        <activity
            android:name=".SuggestionActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ChoiceActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".TimeActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".AcceptedActivity"
            android:screenOrientation="portrait">

        </activity>
    </application>

</manifest>
